<%= link_to("<< Back to List", subjects_path, :class => 'back-link') %>

<div class="Subjects edit">
  <h2>Update Subject</h2>

  <%= form_for(@subject) do |f| %>

    <table summary="Subject form fields">
      <tr>
        <th>Name</th>
        <td><%= f.text_field(:name, required: true) %></td>
      </tr>
      <tr>
        <th>Position</th>
        <td><%= f.select(:position, 1..@subject_count) %></td>
      </tr>
      <tr>
        <th>Visible</th>
        <td><%= f.check_box(:visible) %></td>
      </tr>
      <tr>
        <th>
          Modify Publish DateTime
        </th>
        <td>
          <%= f.datetime_select(:updated_at, :order => [:month, :day, :year])%>
        </td>
      </tr>
    </table>

    <div class="form-buttons">
      <%= f.submit("Update Subject") %>
    </div>

  <% end %>
</div>